---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Caleb"
	pubDate={new Date('March 17 2023')}
	updatedDate={new Date('March 17 2023')}
	heroImage="/me.jpg"
>
	<blockquote>
		"Lovable, long-haired goofball." -- Kelsey, My Fiance
	</blockquote>
	<p>
		Hi! My name is Caleb Horton and I make things. Born and raised in Texas, now residing in Austin.
	</p>
	<p>
		I have been making digital things to some capacity to various degrees of success since I was 8 years old when I made my own business cards for my 2nd grade class desk. This wasn't assignment or anything, I just though that would make me cool and professional. If it wasn't obvious, I was a dweebus. But, it lit in me a passion for creating things with computers. Since then I've made things from Websites, Posters, Videos, Music, Video Games, and countless other things.
	</p>

</Layout>
