---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Stay a while and listen!</h1>
			<p>
				Howdy there stranger! I'm Caleb and this is my blog. We're pretty early on in its contrstuction, so check back often, there's sure to be frequent changes. This is a place to log my current projects, such as:
			</p>
			<h2>GrimStory</h2>
			<p>
				The main project I'm working on right now. A Fantasy RPG inspired by Fable, Overlord, and other games from that era. Currently very early on in Pre-Alpha, but progress is steady.
			</p>
			<h2>Web Development</h2>
			<p>
				I love Web Dev (Which is good as it's my current career.) I will be posting blogs about my current favorite frameworks, tips, and projects from time to time.
			</p>
			<h2>Syn The Sizers</h2>
			<p>
				I'll be the first to admit, I'm not amazing when it comes to synths, or music creation in general. But damn if I'm not facinated by it. I'm constantly working annd adding on my rig, much to the dismay of my wallet and Fiance. I'll post little bits of my music and rig as I expand.
			</p>
			<h2>TTRPGs</h2>
			<p>
				Table Top Role Playing Games is a facet of gaming that I am most excited about. The more games I play I find myself getting less and less excited about them (although still very high excitement in general.) TTRPGs, on the otherhand, are the exact opposite. I will be posting System reviews, GM tips, and interesting sessions and encounters I've had with my group.
			</p>
			<p>
				That's it for now! I hope to share a bunch of what I'm working on, and I hope you find it as enjoyable to read as I do to write!
			</p>
		</main>
		<Footer />
	</body>
</html>
